/* app css stylesheet */

body {
  padding-top: 20px;
}

.table input, 
.table select, 
.table textarea {
  width: 100%;
}

.nav-tabs {
  margin: 0 0 30px;
}

.panel-body + .panel-body {
	border-top: 1px solid #ddd;
}


.panel-group .panel {
   overflow: visible;
}
.table-responsive {
    overflow-x: scroll;
}
