<tr class="editable-row">
	<div ng-transclude-replace></div>
    <td class="editable-btn-group">
	    <div class="text-right edit-group" ng-hide="edit">
	      <a href ng-click="editRow()" class="text-primary glyphicon glyphicon-pencil"></a>
	      <a href ng-click="deleteRow()" class="text-danger glyphicon glyphicon-remove"></a>
	    </div>
	    <div class="text-right" ng-show="edit">
	      <a href ng-click="saveRow()" class="text-success glyphicon glyphicon-ok"></a>
	      <a href ng-click="cancelRow()" class="text-warning glyphicon glyphicon-remove"></a>
	    </div>
	</td>
</tr>