<div class="row">
	<div ng-transclude>
    </div>
    <div class="col-md-3">
	    <div class="btn-group form-group" role="group"  ng-hide="edit">
	      <button type="button" class="btn btn-success btn-sm" ng-click="editRow()">Edit</button>
	      <button type="button" class="btn btn-danger btn-sm" ng-click="delete()" >Delete</button>
	    </div>
	    <div class="btn-group form-group" role="group" ng-show="edit">
	      <button type="button" class="btn btn-success btn-sm" ng-click="save()">Save</button>
	      <button type="button" class="btn btn-danger btn-sm" ng-click="cancelRow()" >Cancel</button>
	    </div>
	</div>
</div>