<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <!-- ToDo: fix month separation -->
        <th colspan="{{calendar.length}}">January</th>
      </tr>
      <tr>
        <th>Name</th>
        <th ng-repeat="day in calendar">
          <span>{{day | date:'d MMM' }}</span>
        </th>
      </tr>
    </thead>
    <tbody ng-repeat="employee in employees">
      <tr class="info">
        <td>
          <span>{{employee.name}}</span>
        </td>
        <th ng-repeat="day in calendar">
          <!-- <span>{{ getTotal(day.employees[employee.id]) }}</span> -->
        </th>
      </tr>
      <tr ng-repeat="project in employee.projects">
        <td>
          <span>{{project}}</span>
        </td>
        <td ng-repeat="day in calendar">
          <span>{{ day.employees[employee.id].projects[project] }}</span>
        </td>
      </tr>
      <tr class="warning">
        <td>
          <span>Vacation & day off & sick</span>
        </td>
        <td ng-repeat="day in calendar">
          <span>{{ day.employees[employee.id].dayOff }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
