<h1>{{employee.name}}</h1>

<div class="btn-group">
  <button type="button" class="btn btn-success btn-sm" ng-click="showAll()">
  	{{ expandBtnText }}
  </button>
</div>
<div class="row">
    <div class="col-md-3" is-open ng-repeat="project in setActiveProjects()">
    	<div class="panel panel-primary">	
	    	<div class="panel-heading">
			    <h4 class="panel-title">
			      {{project.name}}
			    </h4>
			</div>
	      	<table class="table" ng-controller="EmployeeEditController">
	  			<thead>
	  				<tr>
	  					<th class="col-sm">Capacity</th>
	  					<th>Start</th>
	  					<th>End</th>
	  					<th class="col-sm"></th>
	  				</tr>
	  			</thead>
	  			<tbody>
					<tr editablerow="capacity" editablearray="projectCapacity(project, employee)" ng-repeat="capacity in projectCapacity(project, employee)" ng-hide="checkActualDay(capacity.end) && actual" ng-class="{warning: checkActualDay(capacity.end)}">
						<td>
							<span editable="capacity.value"></span>
						</td>
						<td>
							<span editabledate="capacity.start" is-open="capacity.openedStart" open="openStart(event, capacity)"></span>
						</td>
						<td>
							<span editabledate="capacity.end" is-open="capacity.openedEnd" open="openEnd(event, capacity)"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
    </div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Vacations</h3>
			</div>
			<table class="table" ng-controller="EmployeeEditController">
	  			<thead>
	  				<tr>
	  					<th>Start</th>
	  					<th>End</th>
	  					<th></th>
	  				</tr>
	  			</thead>
	  			<tbody>
		  			<tr editablerow="vacation" editablearray="employee.vacations" ng-repeat="vacation in employee.vacations" ng-hide="checkActualDay(vacation.end) && actual" ng-class="{warning: checkActualDay(vacation.end)}">
						<td>
							<span editabledate="vacation.start" is-open="vacation.openedStart" open="openStart(event, vacation)"></span>
						</td>
						<td>
							<span editabledate="vacation.end" is-open="vacation.openedEnd" open="openEnd(event, vacation)"></span>
						</td>
						
					</tr>
				</tbody>
		  	</table>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Day off</h3>
		  </div>
		  <table class="table" ng-controller="EmployeeEditController">
	  			<thead>
	  				<tr>
	  					<th>Date</th>
	  					<th></th>
	  				</tr>
	  			</thead>
	  			<tbody>
					<tr editablerow="dayoff" editablearray="employee.dayoffs" ng-repeat="dayoff in employee.dayoffs" item="dayoff" ng-hide="checkActualDay(dayoff.date) && actual" ng-class="{warning: checkActualDay(dayoff.date)}">
						<td>
							<span editabledate="dayoff.date" is-open="dayoff.openedStart" open="openStart(event, dayoff)"></span>
						</td>
					</tr>
				</tbody>
			</table>
		  </div>
		</div>
	</div>
</div>