<div class="btn-group">
  <button type="button" class="btn btn-success btn-sm" ng-click="expandTable()">{{ expandBtnText }}</button>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <!-- ToDo: fix month separation -->
        <th ng-repeat="i in getNumber(numberMonths) track by $index" colspan="{{getMonthLength($index + 1, year, actual)}}"  ng-hide="checkActualMonth($index + 1) && actual">{{ $index + 1 | monthName}}</th>
      </tr>
      <tr>
        <th>Name</th>
        <th ng-repeat="day in calendar" ng-hide="checkActualDay(day) && actual">
          <span>{{day.date | date:'d' }}</span>
        </th>
      </tr>
    </thead>
    <tbody ng-repeat="employee in employees">
      <tr>
        <td class="info">
          <a ng-href="#/main/employee/{{employee.id}}">{{employee.name}}</a>
        </td>
        <th ng-repeat="day in calendar" ng-class="{success: (getTotal(employee, day) == 1), warning: (getTotal(employee, day) < 1 && getTotal(employee, day) > 0), danger: (getTotal(employee, day) < 0), info: (getTotal(employee, day) == 0)}" ng-hide="checkActualDay(day) && actual">
          <span>{{ getTotal(employee, day) }}</span>
        </th>
      </tr>
      <tr ng-repeat="project in employeeProjects(employee)">
        <td>
          <span>{{project.name}}</span>
        </td>
        <td ng-repeat="day in calendar" ng-hide="checkActualDay(day) && actual">
          <span>{{ getDayCapacity(project,employee,day) }}</span>
        </td>
      </tr>
      <tr class="warning">
        <td>
          <span>Vacation & day off & sick</span>
        </td>
        <td ng-repeat="day in calendar" ng-hide="checkActualDay(day) && actual">
          <span>{{ getDayOff(employee,day) }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
