<h1>{{employee.name}}</h1>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Vacations</h3>
			</div>
			<div class="panel-body" ng-controller="EmployeeEditController">
				<div class="row" ng-repeat="vacation in employee.vacations">
					<div class="form-group col-md-6">
						<label for="{{'startdate-'+$index}}">Start:</label>
						<div onshow="openStart(vacation)" onhide="closeStart(vacation)">{{vacation.start | date:'dd MMMM yyyy' || 'empty'}}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="{{'enddate-'+$index}}">End:</label>
						<div onshow="openEnd(vacation)" onhide="closeEnd(vacation)">{{vacation.end | date:'dd MMMM yyyy' || 'empty'}}</div>
					</div>
					
				</div>
		  	</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Day off</h3>
		  </div>
		  <div class="panel-body">
		    <form name="{{'forms.employee-' + project.id + '-form'}}" ng-submit="editEmployee()" ng-controller="EmployeeEditController" novalidate >
			<div class="row" ng-repeat="dayoff in employee.dayoffs">
				<div class="form-group col-md-6">
					<label for="{{'date-'+$index}}">Date:</label>
					<div contenteditable>{{dayoff.date | date:'dd MMMM yyyy'}}</div>
				</div>
			</div>
      	</form>
		  </div>
		</div>
	</div>
</div>

<h3>Assigned to the projects:</h3>
<accordion close-others="true">
    <accordion-group heading="{{project.name}}" is-open ng-repeat="project in activeProjects">
      	<form name="{{'forms.employee-' + project.id + '-form'}}" ng-submit="editEmployee()" ng-controller="EmployeeEditController" novalidate >
			<div editablerow ng-repeat="capacity in projectCapacity(project, employee)">
				<div class="form-group col-md-3">
					<label for="{{'capacity-'+$index}}">Capacity:</label>
					<span editable="capacity.value" edit="$parent.edit"></span>
				</div>
				<div class="form-group col-md-3">
					<label for="{{'startdate-'+$index}}">Start:</label>
					<span editabledate="capacity.start" edit="$parent.edit" is-open="capacity.openedStart" open="openStart(event, capacity)" item="capacity"></span>
				</div>
				<div class="form-group col-md-3">
					<label for="{{'enddate-'+$index}}">End:</label>
					<span editabledate="capacity.end" edit="$parent.edit" is-open="capacity.openedEnd" open="openEnd(event, capacity)" item="capacity"></span>
				</div>
			</div>
      	</form>
    </accordion-group>
</ul>