<nav class="navbar navbar-default">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
	  <ul class="nav navbar-nav">
	    <li>
	    	<my-modal name="addproject" title="Add project" instance_template="addproject" use_ctrl="ProjectAddController"></my-modal>
		</li>
	    <li>
	    	<my-modal name="addcapacity" title="Add project capacity" instance_template="addcapacity" use_ctrl="CapacityAddController"></my-modal>
	   	</li>
	    <li>
	    	<my-modal name="addemployee" title="Add employee" instance_template="addemployee" use_ctrl="EmployeeAddController"></my-modal>
	    </li>
	    <li>
	    	<my-modal name="addprivatecapacity" title="Add employee capacity" instance_template="addprivatecapacity" use_ctrl="PrivateCapacityAddController"></my-modal>
	    </li>
	  </ul>
	</div><!-- /.navbar-collapse -->
</nav>

<div ng-controller="TabsController">
	<tabset>
	    <tab 
	        ng-repeat="tab in tabs" 
	        heading="{{tab.heading}}"
	        select="go(tab.route)"
	        active="tab.active">
	    </tab>
	</tabset>
	<div class="tab-content" ui-view></div>
</div>



