<!doctype html>
<html lang="en" ng-app="capacityApp">
<head>
  <meta charset="utf-8">
  <title>Capacity Planning 2015</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs" ng-controller="TabsController">
      <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab">
        <a href="{{tab.link}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a>
      </li>
    </ul>
    <div class="tab-content" ng-view></div>
  </div>
</body>
</html>
